{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
  <p>
    Learn more about this project by visiting the <a href="{{ url_for('pages.about') }}">About page</a>.
  </p>

  <h1>Pokemon Stats</h1>

  <h2>Search</h2>
    <form action="/search" method="post">
        <p>Pokemon Name:</p>
        <input type="text" name="query" placeholder="Enter Pokémon name">
        <button type="submit">Search</button>
    </form>

  <form action="/search/type" method="post">
      <p>Pokemon Type:</p>
      <input type="text" name="query" placeholder="Enter Pokémon Type">
      <button type="submit">Search</button>
  </form>

 

  <style>
    table {
        width: 100%; 
        border-collapse: collapse; 
    }
    th, td {
        border: 1px solid black; 
        padding: 8px; 
        text-align: left; 
    }

    p {
  white-space: pre;
  font-family: monospace;
}
  </style>

<p></p>

  <table>
      <tr>
          <th>Poke ID</th>
          <th>Pokemon</th>
          <th>Type</th>
          <th>Type 2</th>
          <th>Ability</th>
          <th>Ability 2</th>
          <th>Hp</th>
          <th>Attack</th>
          <th>Defense</th>
          <th>Special Attack</th>
          <th>Special Defense</th>
          <th>Speed</th>
      </tr>
      
      {% if rows %}
      {% for row in rows %}
      <tr>
        <td>
          <a href="#" onclick="document.getElementById('form-{{ row.id }}').submit(); return false;">
              {{ row.id }}
          </a>
          <form id="form-{{ row.id }}" action="/pokemon" method="get" style="display:none;">
              <input type="hidden" name="id" value="{{ row.id }}">
          </form>
      </td>
          <td>{{ row.poke_name }}</td>
          <td>{{ row.type }}</td>
          <td>{{ row.type_2 }}</td>
          <td>{{ row.ability }}</td>
          <td>{{ row.ability_2 }}</td>
          <td>{{ row.hp }}</td>
          <td>{{ row.attack }}</td>
          <td>{{ row.defense }}</td>
          <td>{{ row.spatk }}</td>
          <td>{{ row.spdef }}</td>
          <td>{{ row.speed }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <p>No results found.</p>
      {% endif %}
  </table>

  <a href="/">Back to search</a>
{% endblock content %}
